@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --breakpoint-18xl: 1800px;
  --breakpoint-17xl: 1700px;
  --breakpoint-16xl: 1600px;
  --breakpoint-15xl: 1500px;
  --breakpoint-14xl: 1400px;
  --breakpoint-12xl: 1200px;
  --breakpoint-10xl: 1000px;
  --breakpoint-8xl: 800px;
  --breakpoint-6xl: 600px;
  --breakpoint-4xl: 400px;
  --breakpoint-3xl: 300px;
}

:root {
  --background: #ffffff;
  --ui-dark: #0a3459;
  --ui-light: #dae6f2;
  --text-secondary: #2e448d;

  --font-primary: "Marcellus", serif;
  --font-secondary: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}
html {
  font-size: 62.5%;
  @media (max-width: 1200px) {
    font-size: 50%;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}
